################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlayGround/.vs/PlayGround/v16
/PlayGround/obj
/PlayGround/bin/Debug/netcoreapp2.1
/PlayGround/.vs/PlayGround/DesignTimeBuild
